@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');

.game-container h3, .game-container h2, .game-container h1, .game-container span, .game-container p, .game-container a {
    font-family: "Artifika", serif;
}
.game-container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    transition: 0.5s;
}
.game-container .meal-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; 
    height: auto;
    row-gap: 7px;
    column-gap: 5px;
}

.game-container .card {
    border-width: 7px;
    border-style: solid;
    min-height: 240px;
    width: 170px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0px;
    backface-visibility: hidden;
    transition: 0.5s;
}
.game-container .base-card {
    background-color: #e0dbd2;
}
.game-container .base-card .card-item {
    border-color: black;
}
.game-container .content.card-item p {
    font-size: 16px;
}
.game-container .card:hover {
    border-color: #9d4384;
}
.game-container .card h3 {
    font-size: 18px;
    text-transform: capitalize !important;
    font-weight: 600;
    color: #e0dbd2;
    padding: 5px;
    margin: 0;
}
.game-container .base-card h3 {
    color: black;
    text-transform: capitalize !important;
}
.game-container .card, .attr-data, .ing-data, .base-data {
    row-gap: 5px;
    display: flex;
    flex-direction: column;
}
.game-container .card-item {
    border: 1px solid #e0dbd2    ;
    border-radius: 20px;
}
.game-container .card-item.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-container .ing-card .card-item.content {
    height: 80px;
}
.game-container .rotate {
    transform: rotate(180deg);
}
.game-container .ingredient-container, .game-container .context-token-container {
    position: relative;
    height: 340px;
}
.game-container .ingredient-container {
    width: 180px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .5s;
}
.game-container .ing-card.front {
    transform: rotateX(0deg);
}
.game-container .ing-card.back {
    transform: rotateX(180deg);
}
.game-container .ing-card {
    position: absolute;
    top: 0;
    left: 0;
    border-color: #e0dbd2;
    background: black;
    color: #e0dbd2;
    transition: .5s
}
.game-container .ing-text {
    position: absolute;
    top: 290px;
    width: 98%;
    display: flex;
    justify-content: center;
}
.game-container .ing-text span {
    font-size: 14px;
    color: white;
    text-align: center;
}
.game-container .context-token-container {
    display: flex;
    max-width: 120px;
    min-width: 50px;
    column-gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
    margin: auto 0;
    align-content: center;
}
.game-container .context-token {
    border: 1px solid #e0dbd2;
    background: black;
    width: 50px;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
}
.game-container .context-token span {
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}
.game-container .base-card {
    max-height: 250px;
}
.game-container .base-card .card-item.content {
    height: 207px;
}
.game-container .btn {
    color: white;
    padding: 20px;
    display: flex;
    align-self: center;
    text-decoration: none;
    font-size: 24px;
    border: none;
    border-bottom: 3px solid white;
    transition: .5s;
}
.game-container .btn:hover {
    background: white;
    color: black;
    border-color: black;

}
.game-container .seperator-container {
    display: flex;
    position: relative;
    width: 100%;
}
.game-container .seperator-container .line {
    height: 2px;
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
    z-index: 0;
    position: absolute;
}
.game-container .seperator-container .text {
    margin: auto;
    padding: 20px;
    position: relative;
    z-index: 100;
    background: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container .seperator-container span { 
    color: lightgray;
    font-size: 20px;
}

.game-container .fade-out {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.game-container .meal-analytics {
    display: flex;
    padding: 40px 0px 10px 0px;
    width: 100%;
    justify-content: center;
}
.game-container .meal-analytics p {
    font-size: 30px;
    color: white;
    text-align: center;
}
.game-container .meal-analytics p strong {
    color: #9d4384;
}

@media(max-width: 1500px) {
    .game-container .ingredient-container{
        width: 160px;     
    }
    .game-container .card {
        width: 150px;
    }
}

@media(max-width: 1350px) {
    .game-container .meal-container {
        row-gap: 2px;
    }
    .game-container .ingredient-container{
        width: 135px;     
    }
    .game-container .card {
        width: 125px;
    }
    .game-container .card h3 {
        font-size: 16px;
    }
    .game-container .content.card-item p {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .game-container .meal-container {
        column-gap: 2px;
    }
    .game-container .ingredient-container {
        width: 125px;
    }
    .game-container .card {
        width: 115px;
    }
    .game-container .card h3 {
        font-size: 14px;
    }
    .game-container .content.card-item p {
        font-size: 12px;
    }
    .game-container .context-token span {
        font-size: 10px;
        line-height: 14px;
    }
    .game-container .context-token-container {
        min-width: 35px;
    }
    .game-container .context-token {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 768px) {
    .game-container .meal-container {
        row-gap: 4rem;
        column-gap: 6px;
    }
    .game-container .context-token-container, .game-container .ingredient-container {
        height: 190px;
    }
    .game-container .context-token-container {
        min-width: 0;
    }
    .game-container .ingredient-container {
        width: 120px;
    }
    .game-container .card {
        padding: 5px 0px;
        border-width: 4px;
    }
    .game-container .card h3 {
        font-size: 12px;
    }
    .game-container .content.card-item p {
        font-size: 10px;
    }
    .game-container .card {
        width: 110px;
        height: 180px;
        min-height: 180px;
    }
    .game-container .ing-card .card-item.content {
        height: 53px;
    }
    .game-container .base-card .card-item.content {
        height: 144px;
    }
    .game-container .context-token span {
        font-size: 10px;
    }
    .game-container .ing-text {
        top: 210px;
        width: 100%;
    }
    .game-container .ing-text span {
        font-size: 10px;
    }
    .game-container .btn {
        margin-top: 3rem;
        padding: 10px;
        font-size: 18px;
        border-bottom: 2px solid black;
    }
    .game-container .seperator-container {
        margin: 1rem 0rem;
    }
    .game-container .seperator-container .text {
        padding: 15px;
        height: 18px;
    }
    .game-container .seperator-container span {
        font-size: 16px;
    }
    .game-container .meal-analytics {
        padding: 30px 0px 0px 0px;
    }
    .game-container .meal-analytics p {
        font-size: 20px;
    }
    .game-container .play-again-btn {
        margin-top: 0rem !important;
    }
}